#navTitle {
    margin-top: 12px;
}

.navbar {
    margin-bottom: 0px;
}

.appIconPreview {
    width: 50px;
    height: 50px;
    padding-left: 3px;
    margin-top: 2px;
}

.btn-primary {
    color: #337ab7;
    background-color: white;
    border-color: #337ab7;
}

.appRank {
    margin-top: 13px;
    font-size: 18px;
}

.getApp {
    margin-top: 8px;
}

.mainContainer {
    padding-left: 0px;
    padding-right: 0px;
}

.mystar .current-rating {
    color: #fbd818;
}

.ratingText {
    font-size: 10px;
}

.nameColumn {
    margin-top: 7px;
}

.appTitle {
    font-size:18px;
    margin-top:5px;
}

.appInfo {
    height: 150px;
}

.ratingsArea{
    display:flex;
    position:absolute;
    bottom:0;
}

.appPageContent{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


@media (min-width: 768px){
    .navbar {
        border-radius: 4px 4px 0px 0px;
    }
}

.suggestedAppContainer {
    position: absolute;
    width: 700px;
    height: 100px;
}

.reccomendedApp {
    height: 80px;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

.overflowWrapper {
    overflow-x: auto;
    position: relative;
    height: 120px;
    width: 390px;
    margin-top: 15px;
}