<template name="appPage">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-brand">
                    <a href="/"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Top Charts</a>
            </div>
        </div>
    </nav>
    <div class="appPageContent">
        <div class="row">
            <div class="col-xs-5">
                <img height=150 width=150 src="{{iconUrl}}"/>
            </div>
            <div class="col-xs-7 appInfo">
                <div class="appTitle">{{name}}</div>
                <p class="text-muted">{{developer}}</p>
                <div class="ratingsArea">
                    {{> starsRating rating=avgRating class='mystar' size='sm'}}
                    <p class="text-muted ratingText">({{numberOfRatings}})</p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-12">
                Customers also like
            </div>
        </div>
        <div class="row" style="overflow-x:auto; margin-top:20px;">
            {{#each reccomendedApps}}
                <div class="col-xs-3">
                    <img height=50 width=50 src="{{iconUrl}}"/>
                    {{name}}
                </div>
            {{/each}}
        </div>
        <hr/>
        <div class="row">
            <div class="col-xs-12">
                <strong>Description</strong>
            </div>
        </div>
        <div class="row" style="margin-top:10px;">
            <div class="col-xs-12">
                <p class="text-muted">
                    {{description}}
                </p>
            </div>
        </div>
    </div>
</template>