<template name="appPreview">
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-1 appRank text-muted">
                {{rank}}
            </div>
            <div class="col-xs-3 appIconPreview">
                <img height=50 width=50 src="{{iconUrl}}"/>
            </div>
            <div class="col-xs-6 nameColumn">
                <a href="{{pathFor 'appPage'}}">{{name}}</a><br/>
                <div style="display:flex">
                    {{> starsRating rating=avgRating class='mystar' size='sm'}}
                </div>
            </div>
            <div class="col-xs-2 text-right getApp">
                <a href="{{pathFor 'appPage'}}" class="btn btn-primary">+ Get</a>
            </div>
        </div>
    </li>
</template>